# Data Structures + Objects

#Data Structures or Objects?

#Storing the Data in our Computer Memory

In [1]:
# Integer

# Whole Number

a = 10
b = 45

In [2]:
a + b

55

In [3]:
# to identify the type of data we can use type(_) function

type(a)

int

In [9]:
# floating numbers / float

c = 7.1
d = 8.6
e = 7.0

In [5]:
c + d

15.7

In [10]:
type(e)

float

In [11]:
name = "Raja virani"
name1 = "kumara veera venkatesh"

In [12]:
name1

'kumara veera venkatesh'

In [13]:
name + " space " +name1

'Raja virani space kumara veera venkatesh'

In [14]:
type(name)

str

# List

In [15]:
# A list ia a container which can hold different data types in it.

In [20]:
lst = ["Sai", 10, 7186, 126.43, [1,2,3]]

In [21]:
lst

['Sai', 10, 7186, 126.43, [1, 2, 3]]

In [22]:
lst[0]

'Sai'

In [23]:
lst[1]

10

In [24]:
lst[4]

[1, 2, 3]

In [25]:
lst[4][0]

1

In [26]:
lst[4][1]

2

In [27]:
lst[4][2]

3

In [28]:
# List is a complex data type which is derived from LIST Object

# List elements are always stored in ordered sequence of number starting from 0

# Every Object will have some Methods,
# Lets see List Object's Methods

In [56]:
lst.append("kiran")

# append actually adds the values in the end of the list

In [57]:
lst

['Sai', 10, 7186, 126.43, [1, 2, 3], 'kiran']

In [58]:
lst.index(10)

1

In [59]:
lst[-1]

'kiran'

In [60]:
lst[-5]

10

In [61]:
lst[1]

10

In [62]:
lst[-2][1]

2

#  Dictionaries - dict

In [63]:
# this is a KEY value pair data structure, it is complex, it is an object of dict class in python.

# data is stored like ->

# {"KEY": "Value" }

In [64]:
dit = {"name":"Saikiran", "age":"30", "number":123456, "email":"sai@letsupgrade.in"}

In [65]:
dit

{'name': 'Saikiran',
 'age': '30',
 'number': 123456,
 'email': 'sai@letsupgrade.in'}

In [66]:
dit.get('name')

# retriving a value from dictionary

'Saikiran'

In [67]:
dit["name"]

'Saikiran'

In [68]:
dit.items()

dict_items([('name', 'Saikiran'), ('age', '30'), ('number', 123456), ('email', 'sai@letsupgrade.in')])

In [69]:
dit.keys()

dict_keys(['name', 'age', 'number', 'email'])

In [70]:
dit.pop("name")

'Saikiran'

In [71]:
dit

{'age': '30', 'number': 123456, 'email': 'sai@letsupgrade.in'}

In [72]:
dit["school"] = "kvs"

# adding a new element to dictionary

In [73]:
dit

{'age': '30', 'number': 123456, 'email': 'sai@letsupgrade.in', 'school': 'kvs'}

In [74]:
 type(dit)

dict

# Sets

#sets are used for storing unique values in the python, 
#sets are complex data structure
#sets are a class in python, whose object can be derived.
#sets are mostly used for finding UNION, Disjoing and finding commons and uncommons in the python data types

In [76]:
st = {"sai", "letsupgrade",1,2,3,4,4,5,6,5,5}

In [77]:
st

{1, 2, 3, 4, 5, 6, 'letsupgrade', 'sai'}

In [78]:
st1 = {"sai", 1}

In [79]:
st1.issubset(st)

True

# Tuple

#Tuples are ordered immutable collection of objects 

#once the data is written its in that for ever

#it cannot be changed

#Example ?

In [80]:
tup = ("sai", "@", "Letsupgrade.in")

In [81]:
tup

('sai', '@', 'Letsupgrade.in')

In [82]:
tup.count("@")

1

In [83]:
tup.index("Letsupgrade.in")

2

In [84]:
# Boolean

In [85]:
# This is Basic Data Type which stores TRUE or FALSE

# Boolean is used for checking the conditions

In [88]:
abc = True

In [89]:
xyz = False

In [90]:
type(abc)

bool

In [91]:
type(xyz)

bool